<!-- if @user.errors.any? -->
  <h1> Sign Up! </h1>
  <%= form_for @user, url: { controller: "users", action: "create"} do |f| %>
    <%= f.text_field :first_name, placeholder: "First Name" %>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
    <%= f.text_field :bio, placeholder: "About You" %>
    <%= f.email_field :email, placeholder: "Email" %>
    <%= f.password_field :password, placeholder: "Password" %>
    <%= submit_tag("Sign up!") %>
  <% end %>





